{% load staticfiles %}


<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        <div>
            <header>
                <p id='home-icon'><a href='/home'>&#8962;</a></p>
                <p id='home-icon'><a href='/create'>&#9881;</a></p>

                <img src="/static/img/logo-bianco-insanity.png" alt="InsanityBrand" >

                
            </header>

            <div class='container'>
                <main>
                    {% block content %}

                    {% endblock %}
                </main>
            </div>
        </div>
        <footer>
            Copyright &copy; 2018
        </footer>
    </body>
</html>

<script>
$('#home-icon').show();

</script>