{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->


        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        <div>
            <header>
                <div style='display:flex'>
                    <p id='home-icon'><a href='/'><i class="fa fa-home" aria-hidden="true"></i></a></p>
                    <p id='home-icon'><a href='/man'><i class="fa fa-male" aria-hidden="true"></i></a></p>
                    <p id='home-icon'><a href='/woman'><i class="fa fa-female" aria-hidden="true"></i></a></p>
                    <p id='home-icon'><a href='/accessories'><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></p>
                    <p id='home-icon'><a href='/create'><i class="fa fa-cog" aria-hidden="true"></i></a></p>
                </div>
                
                <div class='spacer'></div>
                <div>
                    <a href='https://www.insanitybrand.com/'>
                        <img src="/static/img/logo-bianco-insanity.png" alt="InsanityBrand" >
                    </a>
                </div>

                
            </header>

            <div class='container'>
                <main>
                    {% block content %}

                    {% endblock %}
                </main>
            </div>
        </div>
        <!-- <div class='spacer'></div> -->
        <footer>
            <p>Copyright &copy; 2018</p>
        </footer>
    </body>
</html>
