{% extends "insanityApp/base.html" %}
{% block title %} Warehouse {% endblock %}
{% block content %}

<h1>Magazzino</h1>

<div class='menu-items-container menu-dress'>
    <div class='menu-item'>
        <p><a href='/man'>Abbigliamento Uomo</a></p>
    </div>

    <div class='menu-item'>
        <p><a href='/woman'>Abbigliamento Donna</a></p>
    </div>

    <div class='menu-item'>
        <p><a href='/accessories'>Accessori</a></p>
    </div>

    <div class='menu-item'>
        <p><a href='/bracelets'>Bracciali</a></p>
    </div>
</div>



{% endblock %}