{% extends "insanityApp/base.html" %}
{% block title %} Report {% endblock %}

{% block content %}
<h1>Report</h1>

<h2>Man</h2>
<!-- <table id='report-table'>
    <thead>
        <tr>
            <th>NAME</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>COLOR</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            {% if item.item_type == 'Man' %}
            <tr>
                <td>{{item.item_name}}</td>
                <td class='xs'>{{item.tot_XS}} <span style=' margin-left: 30px'>{{item.remaining_XS}}</span></td>
                <td>{{item.tot_S}} <span style='color: red; margin-left: 30px'>{{item.remaining_S}}</span></td>
                <td>{{item.tot_M}} <span style='color: red; margin-left: 30px'>{{item.remaining_M}}</span></td>
                <td>{{item.tot_L}} <span style='color: red; margin-left: 30px'>{{item.remaining_L}}</span></td>
                <td>{{item.tot_XL}} <span style='color: red; margin-left: 30px'>{{item.remaining_XL}}</span></td>
                <td>{{item.color}}</td>                
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table> -->

<table id='report-table'>
    <thead>
        <tr>
            <th>XS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bianco</td>
            <td>Nero</td>
        </tr>
        <tr>
            <td>tot bianco</td>
            <td>rim bianco</td>
            <td>tot Nero</td>
            <td>rim nero</td>
        </tr>
    </tbody>
</table>


<h2>Woman</h2>
<table id='report-table'>
    <thead>
        <tr>
            <th>NAME</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>COLOR</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            {% if item.item_type == 'Woman' %}
            <tr>
                <td>{{item.item_name}}</td>
                <td class='xs'>{{item.tot_XS}} <span style='color: red; margin-left: 30px'>{{item.remaining_XS}}</span></td>                
                <td>{{item.tot_S}} <span style='color: red; margin-left: 30px'>{{item.remaining_S}}</span></td>
                <td>{{item.tot_M}} <span style='color: red; margin-left: 30px'>{{item.remaining_M}}</span></td>
                <td>{{item.tot_L}} <span style='color: red; margin-left: 30px'>{{item.remaining_L}}</span></td>
                <td>{{item.tot_XL}} <span style='color: red; margin-left: 30px'>{{item.remaining_XL}}</span></td>
                <td>{{item.color}}</td>                
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<h2>Accessories</h2>
<table id='report-table'>
    <thead>
        <tr>
            <th>NAME</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>COLOR</th>
            
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            {% if item.item_type == 'Accessoriese' %}
            <tr>
                <td>{{item.item_name}}</td>
                <td>{{item.tot_XS}}</td>
                <td>{{item.tot_S}}</td>
                <td>{{item.tot_M}}</td>
                <td>{{item.tot_L}}</td>
                <td>{{item.tot_XL}}</td>
                <td>{{item.color}}</td>               
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% for item in items %}
    {% if item.item_type == 'Man' %}
    <script>
        a = '{{ item.remaining_XS }}'
        number = a*1;

        if (number < 3){
            console.log(number)
        }
    </script>
    {% endif %}
{% endfor %}


{% endblock %}