{% extends "insanityApp/base.html" %}
{% block title %} Report {% endblock %}

{% block content %}
<h1>Report</h1>

<h2>Man</h2>
<table id='report-table'>
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Codice</th>
            <th>Colore</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        {% if item.item_type == 'Man'%}
        <tr>
            <td>{{item.item_name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.color}}</td>
            <td>
                <button class='view-report-btn' onclick="viewReport('{{item.code}}')">Visualizza</button>
            </td>
            <!-- <td >{{item.remaining_XS}} + {{item.remaining_S}} </td> -->
        </tr>
            <div class='{{item.code}}' style = 'display:none'>
                <h3>{{item.item_name}}</h3>
                <div>
                    <p class='title'>XS</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_XS}}</span>
                        <span class='rem'>{{item.remaining_XS}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>S</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_S}}</span>
                        <span class='rem'>{{item.remaining_S}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>M</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_M}}</span>
                        <span class='rem'>{{item.remaining_M}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>L</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_L}}</span>
                        <span class='rem'>{{item.remaining_L}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>XL</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_XL}}</span>
                        <span class='rem'>{{item.remaining_XL}}</span>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </tbody>
</table>


<h2>Woman</h2>
<table id='report-table'>
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Codice</th>
            <th>Colore</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        {% if item.item_type == 'Woman'%}
        <tr>
            <td>{{item.item_name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.color}}</td>
            <td>
                <button class='view-report-btn' onclick="viewReport('{{item.code}}')">Visualizza</button>
            </td>
            <!-- <td >{{item.remaining_XS}} + {{item.remaining_S}} </td> -->
        </tr>
            <div class='{{item.code}}' style = 'display:none'>
                <h3>{{item.item_name}}</h3>
                <div>
                    <p class='title'>XS</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_XS}}</span>
                        <span class='rem'>{{item.remaining_XS}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>S</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_S}}</span>
                        <span class='rem'>{{item.remaining_S}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>M</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_M}}</span>
                        <span class='rem'>{{item.remaining_M}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>L</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_L}}</span>
                        <span class='rem'>{{item.remaining_L}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>XL</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_XL}}</span>
                        <span class='rem'>{{item.remaining_XL}}</span>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<h2>Unisex</h2>
<table id='report-table'>
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Codice</th>
            <th>Colore</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        {% if item.item_type == 'Unisex'%}
        <tr>
            <td>{{item.item_name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.color}}</td>
            <td>
                <button class='view-report-btn' onclick="viewReport('{{item.code}}')">Visualizza</button>
            </td>
            <!-- <td >{{item.remaining_XS}} + {{item.remaining_S}} </td> -->
        </tr>
            <div class='{{item.code}}' style = 'display:none'>
                <h3>{{item.item_name}}</h3>
                <div>
                    <p class='title'>XS</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_XS}}</span>
                        <span class='rem'>{{item.remaining_XS}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>S</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_S}}</span>
                        <span class='rem'>{{item.remaining_S}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>M</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_M}}</span>
                        <span class='rem'>{{item.remaining_M}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>L</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_L}}</span>
                        <span class='rem'>{{item.remaining_L}}</span>
                    </p>
                </div>

                <div>
                    <p class='title'>XL</p>
                    <p class='subtitle'>
                        <span>Begin</span>
                        <span>Now</span>
                    </p>
                    <p class='count'>
                        <span>{{item.tot_XL}}</span>
                        <span class='rem'>{{item.remaining_XL}}</span>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<h2>Accessories</h2>
<table id='report-table' >
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Codice</th>
            <th>Colore</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            {% if item.item_type == 'Accessoriese' %}
            <tr>
                            
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>


<script>
    td = $('.tot_remaining').length;
    for (var i=0; i<td; i++){
        $('.tot_remaining').each(function(i){
            $(this).text(a[i]);
        });
    }

    function viewReport(code){
        if ($('.'+code).css('display') == 'none'){
            $('.'+code).addClass("report-item");
            $('.'+code).show("slow");
        }else{
            $('.'+code).hide("slow");
            // $('.'+code).removeClass("report-item");
        }

        span = $('.'+code).children().children('.count').children('.rem');
        $(span).each(function(){
            text = $(this).text();
            if(text < 4){
                $(this).css('color', 'red');
            }
        })
        
    }

    
    
</script>


{% endblock %}