{% extends "insanityApp/base.html" %}
{% block title %} Woman {% endblock %}
{% block content %}

<h1>Donna</h1>

<div> 
    {% for item in items %}
        {% if item.item_type == 'Woman' %}
        <hr>
        <div class='form-container'>
            <div class='form-intro'>
                <p>Name: <b>{{item.item_name}}</b></p>
                <p>Code: <b>{{item.code}}</b></p>
                <p>Color: <b>{{item.color}}</b></p>
            </div>
            <div class='form-div'>
                <form method="POST" id='form-man'>
                    {% csrf_token %}

                    {{form}}
                <br>

                    <button type='submit' class='save-btn sold-btn' name="{{item.code}}">Save</button>
                </form>
            </div>
        </div> 
        {% endif %}
    {% endfor %}

</div>
    

{% endblock %}