{% extends "insanityApp/base.html" %}
{% block title %} Woman {% endblock %}
{% block content %}

<h1>Donna</h1>

<div> 
    {% for item in items %}
        {% if item.item_type == 'Woman' %}
        <p>Name: <b>{{item.item_name}}</b></p>
        <p>Code: <b>{{item.code}}</b></p>
        <div style='display:flex'>
            <img src="{{ item.image.url }}" alt="{{ item.item_name }}" height="100">

            <form method="POST" id='form-man'>
                {% csrf_token %}

                {{form}}
            <br>

                <button type='submit' class='save-btn sold-btn' name="{{item.code}}">Save</button>
            </form>
        </div>
        {% endif %}
    {% endfor %}
</div>
    

{% endblock %}