* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header{
        height: 200px;
    }
    #home-icon{
        margin-top: 140px;
    }
    #home-icon a{
        font-size: 40px;
        font-weight: 900;
    }
  }

  /*--- HEADER -----------*/
header {
    text-align: center;
    color: white;
    background: black;
    height:100px;
    display:flex;    
}

header img{
    transform: scale(0.8);
}

#home-icon{
    font-size: 28px;
    font-weight: 400;
    margin-top: 60px;
    margin-left: 40px;
    text-align:left;
}

.spacer{
    width:1000px;
}

#home-icon a{
    text-decoration: none;
    color:white;
}

#home-icon a:hover{
    color:#cab86f;
}

footer {
    text-align: center;
    background:  #cab86f;
    height: 30px;
    width:100%;
}

.container{
    display:flex;
    height: fit-content;
}

nav {
    display: flex;
    flex-direction: column;
    width:150px;
    background: black;
    font-size: 20px;
    text-align: center;
}

nav a{
    width: 150px;
    text-decoration: none;
    color: white;
}

/* ---- CENTER ----*/
main {
    padding: 0px 40px;
    width: auto;
}

main img {
    padding: 0px 200px;
}

main{
    width: 100%;
    padding: 20px;
}

/*------HOME----------------*/
h1{
    text-align: center;
    padding-bottom: 40px;
    margin:0;
    font-size: 24px;
}

.menu-items-container{
    display:flex;
    text-align: center;
    margin-bottom: 50px;
}

.menu-dress{
    justify-content: center; 
}

.menu-accessorise{
    justify-content: flex-end;
    margin-top: 20px;
}

.menu-item{
    width:180px;
    height: 220px;
    border: 2px solid #cab86f;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.menu-item p{
    padding: 70px 0px 70px 0px;
}

.menu-item a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 70px 5px 70px 5px;
}

.menu-item a:hover{
    color: #cab86f;
    font-size: 18px;
    
}

.menu-item:hover{
    border: 2px solid black;
    
}

/*-------------- NEW PAGE ----------------------*/
#create_form{
    display: grid;
}

#create_form input,
#create_form select{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
    margin-bottom:15px;
}

#create_form label{
    font-size: 18px;
}

.save-btn{
    padding: 5px;
    background: #cab86f;
    color: black;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid black;
    width: 200px;
}

.save-btn:hover{
    background: black;
    color: #cab86f;
    border: 1px solid #cab86f;
}

/*---------------- REPORT PAGE ---------------*/

#report-table{
    width:100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

#report-table thead{
    text-align: left;
    background: black;
    color: #cab86f;
}

#report-table tbody td{
    border-top: 1px solid grey;
    padding-top:5px;
}


/*------------------ MAN ---------------------*/
.sold-btn{
    margin-top: 20px;
}

#form-man{
    margin-left: 20px;
}