* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /* For mobile phones: 
  @media only screen and (max-width: 768px) {
    header{
        height: 200px;
    }
    #home-icon{
        margin-top: 140px;
    }
    #home-icon a{
        font-size: 40px;
        font-weight: 900;
    }
  }*/

hr{
    border: 1px solid #cab86f;
  }
  /*--- HEADER -----------*/
header {
    text-align: center;
    color: white;
    background: black;
    height: 150px;
    display:flex;    
}

header img{
    margin-top:20%;
    margin-right: 40px;
}

#home-icon{
    font-size: 28px;
    font-weight: 400;
    margin-top: 90px;
    margin-left: 40px;
    text-align:left;
}

.spacer{
    width:1000px;
}

#home-icon a{
    text-decoration: none;
    color:white;
    font-size: 40px;
}

#home-icon a:hover{
    color:#cab86f;
}

footer {
    text-align: center;
    background:  #cab86f;
    height: 30px;
    width:100%;
}

.container{
    display:flex;
    height: fit-content;
}

nav {
    display: flex;
    flex-direction: column;
    width:150px;
    background: black;
    font-size: 20px;
    text-align: center;
}

nav a{
    width: 150px;
    text-decoration: none;
    color: white;
}

/* ---- CENTER ----*/
main {
    padding: 0px 40px;
    width: auto;
}

main img {
    padding: 0px 200px;
}

main{
    width: 100%;
    padding: 20px;
}

/*------HOME----------------*/
h1{
    text-align: center;
    padding-bottom: 60px;
    margin:0;
    font-size: 40px;
}

.menu-items-container{
    display:flex;
    text-align: center;
    margin-bottom: 50px;
}

.menu-dress{
    display: inline;
}

.menu-accessorise{
    justify-content: flex-end;
    margin-top: 20px;
}

.menu-item{
    /* width:180px; */
    height: 220px;
    border: 2px solid #cab86f;
    border-radius: 10px;
    margin-bottom:80px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.man-menu{
    background-image: url("img/uomo.jpg");
}

.woman-menu{
    background-image: url("img/donna.jpg");
}


.menu-item p{
    background-color: #cab86f; 
    margin-top:10%;
    height: 55px;
}

.menu-item a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding: 20px 270px 20px 270px;
}

.menu-item a:hover{
    color: #cab86f;   
}

.menu-item p:hover{
    background-color: black; 
}

.menu-item:hover{
    border: 2px solid black;
    
}

/*-------------- NEW PAGE ----------------------*/
#create_form{
    display: grid;
}

#create_form input,
#create_form select{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
    margin-bottom:15px;
}

#create_form label{
    font-size: 18px;
}

.save-btn{
    padding: 5px;
    background: #cab86f;
    color: black;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid black;
    width: 200px;
}

.save-btn:hover{
    background: black;
    color: #cab86f;
    border: 1px solid #cab86f;
}

/*---------------- REPORT PAGE ---------------*/

#report-table{
    width:100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

#report-table thead{
    text-align: left;
    background: black;
    color: #cab86f;
}

#report-table tbody td{
    border-top: 1px solid grey;
    padding-top:5px;
}


/*------------------ MAN ---------------------*/
.sold-btn{
    margin-top: 20px;
    width: 370px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
}

#form-man{
    margin-right: 100px;
}

.form-container{
    display:flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form-container p,
#form-man label{
    font-size:25px;
}

#form-man input,
#form-man select{
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
}

#form-man input{
    padding: 7px;
    font-size: 20px;
}

#form-man select{
    font-size: 20px;
    margin-right: 50px;
    padding: 5px;
}

#form-man select option{
    font-size: 20px;
}

.form-intro{
    width:400px;
    margin-left: 100px;
}

.form-div{
    text-align: right;
    width: 100%;
}