header {
    text-align: center;
    color: white;
    background: black;
}

footer {
    text-align: center;
    background: rgba(219, 187, 4, 0.863);
    height: 30px;
}

nav {
    text-align: center;
    background: black;
    height: fit-content;
    bottom: 0;
}

nav a {
    color: lightgray;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px;
}

nav a:hover {
    color: rgba(219, 187, 4, 0.863);
}

h1{
    padding: 10px 0px;
    margin: 0;
}

